<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alteração De Pedido</title>
    <link rel="stylesheet" href="/static/estilos.css">

</head>
<body>
    <form action="/alterar_pedido/{{tipo[0]}}" method="post">
        <label for="pizza">Escolha A Pizza Com Seus Respectivos Ingredientes</label>
        <select name="pizza" value="">
            {% for pizza  in pizzas %}
            <option value="{{pizza[0]}}">{{pizza[0]}}, Ingredientes:{{pizza[1]}}</option>
            {% endfor %}
        </select>

        <p></p>

        <label for="tamanho">Escolha O Tamanho Da Pizza </label>
        <select name="tamanho" value="">
            <option value="pequena">Pequena</option>
            <option value="media">Media</option>
            <option value="grande">Grande</option>
            <option value="gigante">Gigante</option>
        </select>

        <p></p>

        <label for="refri">Escolha uma bebida</label>
        <select name="refri" >
            <option value="coca_2l">Coca Cola 2L</option>
            <option value="coca_1l">Coca Cola 1L</option>
            <option value="fantau_va_2l">Fanta UVA 2L</option>
            <option value="fantau_va_1l">Fanta UVA 1L</option>
            <option value="fanta_laranja_2l">Fanta Laranja 2L</option>
            <option value="fanta_laranja_1l">Fanta Laranja 1L</option>
            <option value="pepsi_2l">Pepsi 2L</option>
            <option value="pepsi_1l">Pepsi 1L</option>
            <option value="nada">Nenhuma</option>
        </select>
        <p></p>
        <label for="entrega">Encomenda</label>
        <select name="entrega" id="entrega">
            <option value="sem">Sem entrega</option>
            <option value="com">Com entrega</option>
        </select>
        <p></p>
        <label for="nome">Nome Do Cliente</label>
        <input type="text" name="nome">
        <p></p>
        <label for="endereco">Endereço Do Cliente</label>
        <input type="text" name="endereco">
        <p></p>
        <label for="telefone">Telefone Do Cliente</label>
        <input type="text" name="telefone">
        <p></p>
        <button type="submit">Clique Confirmar Edição Do Pedido</button>
    </form>


</body>
</html>