<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/estilos.css">

</head>
<body>
    <form action="/cadastro" method="post">
        <label for="email">Digite o seu email</label>
        <input type="email" name="email" required>

        <label for="senha">Digite a sua senha</label>
        <input type="password" name="senha" required>
        
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>