<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/criar_pizza" method="POST">
        <label for="nome">Digite o nome da pizza</label>
        <input type="text" name="nome" required>

        <label for="ingredientes">Digite os ingredientes da pizza</label>
        <input type="text" name="ingredientes" required>
        
        <button type="submit">Confirmar</button>
    </form>
    
</body>
</html>