<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição de pizza</title>
    <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>ID Da Pizza</th>
                <th>Nome Da Pizza</th>
                <th>Tamanho Da Pizza</th>
                <th>Preço Do Tamanho</th>
                <th>Preço Da Bebida</th>
                <th>Preço Da Entrega</th>
                <th>Nome Do Cliente</th>
                <th>Endereço Do Cliente</th>
                <th>Telefone Do Cliente</th>
                <th>Status Da Pizza</th>
                <th>Preço Total Do Pedido</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{pedido[0]}}</td>
                <td>{{pedido[1]}}</td> 
                <td>{{pedido[2]}}</td>
                <td>{{pedido[3]}}</td>
                <td>{{pedido[4]}}</td>
                <td>{{pedido[5]}}</td>
                <td>{{pedido[8]}}</td>
                <td>{{pedido[6]}}</td>
                <td>{{pedido[7]}}</td>
                <td>{{pedido[9]}}</td>
                <td>{{pedido[10]}}</td>
                <td><a href="/confirmar/{{pedido[0]}}">Confirmar Entrega</a></td>
                <td><a href="/alterar_pedido/{{pedido[0]}}">Alterar Pedido</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>